#cities {
  background-color: var(--tertiary-color);
}

#cities h2 {
  color: var(--quartenary-color);
}

#cities .container .row .card {
  overflow: hidden;
}

#cities .container .row .card img {
  height: 35vw;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

#cities .container .row .card .card-text-background {
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
}

#cities .container .row .card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#cities button {
  background-color: var(--quartenary-color);
  color: white;
}

#cities button:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

#life-cost {
  background-color: var(--quartenary-color);
}

#life-cost h2 {
  color: var(--tertiary-color);
}

#life-cost svg {
  margin: 3vw 0;
  height: 12vw;
  width: 12vw;
}

#life-cost svg path {
  fill: var(--tertiary-color);
}

#life-cost #swiper-pagination-custo-de-vida {
  position: relative;
  top: 5vw !important;
}

#programas {
  background-color: var(--tertiary-color);
}

#programas h2 {
  color: var(--quartenary-color);
}

#programas .container .swiper .swiper-wrapper .swiper-slide .programa {
  margin: 0 auto;
  width: 70vw !important;
  min-height: 600px;
}

#programas .container .swiper .swiper-wrapper .swiper-slide .programa ul {
  list-style: inside !important;
}

#programas .container .swiper .swiper-wrapper .swiper-slide .programa span button {
  background-color: var(--primary-color);
}

#programas .container .swiper .swiper-wrapper .swiper-slide .programa span button:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-transition: 300ms;
  transition: 300ms;
}

@media (min-width: 992px) {
  #sobre .container-fluid #info, #sobre .container-fluid aside {
    width: 50%;
  }
  #sobre .container-fluid #info {
    margin-right: 4%;
  }
  #cities .container .row .card img {
    max-height: 240px !important;
  }
  #life-cost svg {
    margin: 2vw 0;
    height: 7vw;
    width: 7vw;
    max-width: 100px;
    max-height: 100px;
  }
  #programas {
    background-color: var(--tertiary-color);
  }
  #programas h2 {
    color: var(--quartenary-color);
  }
  #programas .container .swiper .swiper-wrapper .swiper-slide .programa {
    width: 25vw !important;
    max-width: 340px;
    min-height: 500px;
    -webkit-box-shadow: 8px 8px 0px 2px var(--primary-color) !important;
            box-shadow: 8px 8px 0px 2px var(--primary-color) !important;
    margin-bottom: 10px;
  }
  #programas .container .swiper .swiper-wrapper .swiper-slide .programa ul {
    list-style: inside !important;
  }
  #programas .container .swiper .swiper-wrapper .swiper-slide .programa span button {
    background-color: var(--primary-color);
  }
  #programas .container .swiper .swiper-wrapper .swiper-slide .programa span button:hover {
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
    -webkit-transition: 300ms;
    transition: 300ms;
  }
}
/*# sourceMappingURL=destino.css.map */