a {
    color: #FF6A2E;
    text-decoration: none;
}

.cor-valor {
    background-color: #7B39E9;
}
.cor-missao {
    color: #7B39E9;
}
.cor-empresa {
    color: #FF6A2E;
}
.fonte {
    font-size: 12px;
}

@media (max-width:767px) {
    .sp{
        margin-top: 3rem;
    }
}