h2{
    color: var(--primary-color);
}
/*DEPOIMENTOS--------------------------------------------------------------------------*/
.depoimento-thumb{
    width: 120px;
    height: 120px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 3px;
    transform: translateY(3.5rem);
    background-color: white;
    border: 3px solid orange;
}

.depo-info{
    margin: auto;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    padding: 4.5rem 2rem 1rem 2rem;
    min-height: 240px;
}

@media screen and (max-width:1199px) {
    .depo-info{
        min-height: 270px;
    }
}

@media screen and (max-width:991px) {
    .depo-info{
        min-height: 240px;
    }
}

@media screen and (max-width:767px) {
    .swiper-depoimentos{
        margin-top: 1rem!important;
    }
    .depo-info{
        min-height: 215px;
    }
}

@media screen and (max-width:575px) {
    .depo-info{
        min-height: 265px;
    }
}

.depo-excerpt{
    text-align: justify;
}

.swiper-depoimentos .swiper-slide-active{
    transform: translateY(-2rem) scale(1.1)!important;
    transition: all 1s;
}

.swiper-pagination{
    position: relative!important;
}

@media screen and (max-width:767px) {
    .swiper-depoimentos .swiper-slide-active{
        transform: translateY(-2rem)!important;
        transition: all 1s;
    }
    .swiper-pagination{
        margin-top: 1rem!important;
    }
}

.swiper-slide-prev{
    transform: translateY(0rem)!important;
    transition: all 1s;
}


/*PACOTES--------------------------------------------------------------------------*/

.pacote-thumb{
    width: 180px;
    height: 180px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 3px;
    background-color: white;
    position: absolute;
    transform: translateY(-5rem);
}

.swiper-pacotes .swiper-slide{
    padding-top: 6rem;
    height: auto;
}

.pacote-info{
    margin: auto;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    padding: 7rem 2rem 1rem 2rem;
    min-height: 240px;
    height: 100%;
}

.pais-pacote{
    color: var(--purple-color);
}

.cidade-pacote{
    color: var(--primary-color);
}

.duracao-pacote{
    font-weight: 700;
}

.valor-pacote{
    color: var(--primary-color);
}

@media screen and (max-width:1199px) {
    .pacote-info{
        min-height: 270px;
    }
}

@media screen and (max-width:991px) {
    .pacote-info{
        min-height: 240px;
    }
}

@media screen and (max-width:767px) {
    .pacote-info{
        min-height: 215px;
    }
}

@media screen and (max-width:575px) {
    .pacote-info{
        min-height: 265px;
    }
}


/* -----------------------------------------------------------------------*/

@media (max-width:769px) {
    #btn-buscar {
        width: 100%;
    }
}

#btn-buscar {
    width: 125px;
    height: 47px;
    background: #FF6A2E;
    border-radius: 8px;
    border: none;
    color: white;
    filter: drop-shadow(6px 6px 16px rgba(0, 0, 0, 0.3));
    text-transform: uppercase;
    letter-spacing: 1.25px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.3);

}

#btn-promocoes {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 145px;
    height: 45px;
    background: #FF6A2E;    ;
    border-radius: 8px;
    border: none;
    color: white;
    filter: drop-shadow(6px 6px 16px rgba(0, 0, 0, 0.3));
    text-transform: uppercase;
    letter-spacing: 1.25px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
}

#btn-servicos {
    width: 145px;
    height: 45px;
    background: #FFB030;
    border-radius: 8px;
    border: none;
    color: black;
    filter: drop-shadow(6px 6px 16px rgba(0, 0, 0, 0.3));
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
}

#btn-destinos {
    width: 145px;
    height: 45px;
    background: #7B39E9;
    border-radius: 8px;
    border: none;
    color: white;
    filter: drop-shadow(6px 6px 16px rgba(0, 0, 0, 0.3));
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
}