/* SEARCH PACOTES----------------------------------*/
/*>767px*/
.search-post-frame{
    height: 200px;
}

.search-thumb{
    height: 100%;
    object-fit: cover;
}

.search-info{
    padding-left: 3rem;
}