.cor-viajando-com-ok {
    color: #FFB030;
}
.cor-valor {
    background-color: #7B39E9;
}
.cor-missao {
    color: #7B39E9;
}
.cor-empresa {
    color: #FF6A2E;
}

.cor-grafite{
    color: #1F1F1F;
}

.cor-botao{
  background-color: #7B39E9
}

.cor-texto{
  color: #FFFFFF
}

.imgtest{
    position: relative;
}

.texttest{
    position: absolute;
    bottom: 6%;
    margin-left: 2%;
}

@media(min-width: 375px){
    .linha3, .linha5, .linha6{
        display: none;
    }
}

@media(max-width: 375px){
    .linha1, .linha2, .linha4{
    display:none
    }
    .linha3{
        text-align: center;
    }
}


.btn-enviar {
    background-color: #FF6A2E;
    color: white;
    width: 190px;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

@media (max-width:762px) {
    .btn-enviar {
        width: 100%;
    }
}

input, textarea {
    border-radius: 8px;
}


#nome {
    width: 55%;
    float: left;
    line-height: 30px;
}

#nome input {
    padding-left: 12px;
    width: 100%;
    height: 40px;
    line-height: 22px;
    border: 1px solid rgba(25, 20, 18, 0.6);
}

#tel {
    width: 40%;
    float: right;
    line-height: 30px;
    
}

#tel input {
    padding-left: 12px;
    width: 100%;
    height: 40px;
    line-height: 22px;
    border: 1px solid rgba(25, 20, 18, 0.6);
}

#email {
    margin-top:5px;
    line-height: 30px;
    width: 100%;
}

#mensagem {
    margin-top:5px;
    line-height: 30px;
    width: 100%;
}


#email input {
    padding-left: 12px;
    width: 100%;
    height: 40px;
    line-height: 22px;
    border: 1px solid rgba(25, 20, 18, 0.6);
}

#mensagem textarea {
    padding-left: 12px;
    height: 100px;
    width: 100%;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

/* model cotaçao */

#nome-cotacao {
    width: 55%;
    float: left;
    line-height: 30px;
}

#nome-cotacao input {
    padding-left: 12px;
    width: 100%;
    height: 40px;
    line-height: 22px;
    border: 1px solid rgba(25, 20, 18, 0.6);
}

#tel-cotacao {
    width: 40%;
    float: right;
    line-height: 30px;
    
}

#tel-cotacao  input {
    padding-left: 12px;
    width: 100%;
    height: 40px;
    line-height: 22px;
    border: 1px solid rgba(25, 20, 18, 0.6);
}


#email-cotacao {
    float: left;
    margin-top:5px;
    line-height: 30px;
    width: 55%;
}

#email-cotacao input {
    padding-left: 12px;
    width: 100%;
    height: 40px;
    line-height: 22px;
    border: 1px solid rgba(25, 20, 18, 0.6);
}

#data-cotacao {
    width: 40%;
    float: right;
    line-height: 30px;
    margin-top: 5px;
}

#data-cotacao  input {
    padding-left: 12px;
    width: 100%;
    height: 40px;
    line-height: 22px;
    border: 1px solid rgba(25, 20, 18, 0.6);
}


#saida-cotacao {
    float: left;
    margin-top:5px;
    line-height: 30px;
    width: 49%;
}

#saida-cotacao input {
    padding-left: 12px;
    width: 100%;
    height: 40px;
    line-height: 22px;
    border: 1px solid rgba(25, 20, 18, 0.6);
}

#destino-cotacao {
    width: 49%;
    float: right;
    line-height: 30px;
    margin-top: 5px;
}

#destino-cotacao  input {
    padding-left: 12px;
    width: 100%;
    height: 40px;
    line-height: 22px;
    border: 1px solid rgba(25, 20, 18, 0.6);
}

#paragrafo-baixo {
    font-weight: bold;
    margin-top: 10px;
}
