.cor-viajando-com-ok {
    color: #FFB030;
}
.cor-valor {
    background-color: #7B39E9;
}
.cor-missao {
    color: #7B39E9;
}
.cor-empresa {
    color: #FF6A2E;
}

.cor-grafite{
    color: #1F1F1F;
}

.cor-botao{
  background-color: #7B39E9
}

.cor-texto{
  color: #FFFFFF
}